.payment-detail {
	&--content {
		width: 100%;
		min-height: 300px;
		h5 {
			color: #ffee32;
		}
		.img {
			margin: 10px;
			height: 60px;
			overflow: hidden;
			border: 1px solid #39393a;
			background-color: white;
			border-radius: 10px;
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 5px solid transparent;
			img {
				width: 100%;
			}

			&.active,
			&:hover {
				border: 5px solid $primary;
			}
		}
	}
	&--payment {
		p {
			font-size: 19px;
			color: #ffee32;
		}
	}
}

.payment-success {
	&--header {
		h1 {
			width: 91%;
		}
		button {
			height: 45px;
			margin-top: 50px;
			float: right;
		}
	}
	&--qr {
		width: 19%;
		margin: 0 auto;
		canvas {
			width: 100%!important;
			height: auto!important;
		}
	}
	&--info {
		.thongtin {
			width: 40%;
			font-size: 21px;
			font-weight: normal;
		}
		span{
			font-size: 24px;
			font-weight: 500;
			color: #ffee32;
		}
	}
}