.topnav {
	.topnav__menu {
		text-transform: uppercase;
	}
	color: #2c2e43;
}

.navbar-light .navbar-nav .nav-link {
	color: #2c2e43;
	&:hover {
		color: #595260;
	}
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: $link-color;
}
